<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>0C009352-9664-42CE-AD23-75B5C4613101</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.four.osf</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.four.tosf</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
