<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Adieresis-cy</key>
    <string>A_dieresis-cy.glif</string>
    <key>Chedescender-cy</key>
    <string>C_hedescender-cy.glif</string>
    <key>Dzeabkhasian-cy</key>
    <string>D_zeabkhasian-cy.glif</string>
    <key>E-cy</key>
    <string>E_-cy.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>Germandbls</key>
    <string>G_ermandbls.glif</string>
    <key>Gestrokehook-cy</key>
    <string>G_estrokehook-cy.glif</string>
    <key>Gheupturn-cy</key>
    <string>G_heupturn-cy.glif</string>
    <key>Haabkhasian-cy</key>
    <string>H_aabkhasian-cy.glif</string>
    <key>Ia-cy</key>
    <string>I_a-cy.glif</string>
    <key>Ii-cy</key>
    <string>I_i-cy.glif</string>
    <key>Iishorttail-cy</key>
    <string>I_ishorttail-cy.glif</string>
    <key>Io-cy</key>
    <string>I_o-cy.glif</string>
    <key>Izhitsa-cy</key>
    <string>I_zhitsa-cy.glif</string>
    <key>Ka-cy</key>
    <string>K_a-cy.glif</string>
    <key>Kahook-cy</key>
    <string>K_ahook-cy.glif</string>
    <key>Kastroke-cy</key>
    <string>K_astroke-cy.glif</string>
    <key>Ohorn</key>
    <string>O_horn.glif</string>
    <key>Schwa-cy</key>
    <string>S_chwa-cy.glif</string>
    <key>Shha-cy</key>
    <string>S_hha-cy.glif</string>
    <key>Yi-cy</key>
    <string>Y_i-cy.glif</string>
    <key>Yusbig-cy</key>
    <string>Y_usbig-cy.glif</string>
    <key>Ze-cy</key>
    <string>Z_e-cy.glif</string>
    <key>Zhe-cy</key>
    <string>Z_he-cy.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>be-cy</key>
    <string>be-cy.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>dagger</key>
    <string>dagger.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>de-cy</key>
    <string>de-cy.glif</string>
    <key>dje-cy</key>
    <string>dje-cy.glif</string>
    <key>e-cy</key>
    <string>e-cy.glif</string>
    <key>el-cy</key>
    <string>el-cy.glif</string>
    <key>gheupturn-cy</key>
    <string>gheupturn-cy.glif</string>
    <key>hook</key>
    <string>hook.glif</string>
    <key>ia-cy</key>
    <string>ia-cy.glif</string>
    <key>izhitsa-cy</key>
    <string>izhitsa-cy.glif</string>
    <key>lira</key>
    <string>lira.glif</string>
    <key>micro</key>
    <string>micro.glif</string>
    <key>mu</key>
    <string>mu.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>peseta</key>
    <string>peseta.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>schwa</key>
    <string>schwa.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>ze-cy</key>
    <string>ze-cy.glif</string>
    <key>zhe-cy</key>
    <string>zhe-cy.glif</string>
  </dict>
</plist>
