<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0.5,0,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>B71EE82C-75C0-4C0E-9268-86A35B1B05D9</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.dagger</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.daggerdbl</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
