<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>D7535C47-2C0D-47AF-BE0A-25617A18EFFB</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Esdescender-cy</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
