<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>F0BF80DE-A922-4F43-A400-84D3B28705FE</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.eight.osf</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eight.tosf</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
