<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>CC29107A-3EC0-4178-981B-0E16C5BA34DB</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.zhedescender-cy</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
