<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0.75,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>99CA403A-6293-4BE9-ADD4-2F69E4EA4306</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.two.osf</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.two.tosf</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
