<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Chedescender-cy</key>
    <string>C_hedescender-cy.glif</string>
    <key>Dje-cy</key>
    <string>D_je-cy.glif</string>
    <key>E-cy</key>
    <string>E_-cy.glif</string>
    <key>Eng</key>
    <string>E_ng.glif</string>
    <key>Ertick-cy</key>
    <string>E_rtick-cy.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>Gestrokehook-cy</key>
    <string>G_estrokehook-cy.glif</string>
    <key>Gheupturn-cy</key>
    <string>G_heupturn-cy.glif</string>
    <key>Ii-cy</key>
    <string>I_i-cy.glif</string>
    <key>Io-cy</key>
    <string>I_o-cy.glif</string>
    <key>Kahook-cy</key>
    <string>K_ahook-cy.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>Ustraitstroke-cy</key>
    <string>U_straitstroke-cy.glif</string>
    <key>Ze-cy</key>
    <string>Z_e-cy.glif</string>
    <key>approxequal</key>
    <string>approxequal.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>be-cy</key>
    <string>be-cy.glif</string>
    <key>circumflex</key>
    <string>circumflex.glif</string>
    <key>dagger</key>
    <string>dagger.glif</string>
    <key>de-cy</key>
    <string>de-cy.glif</string>
    <key>gheupturn-cy</key>
    <string>gheupturn-cy.glif</string>
    <key>hook</key>
    <string>hook.glif</string>
    <key>horn</key>
    <string>horn.glif</string>
    <key>ii-cy</key>
    <string>ii-cy.glif</string>
    <key>minus</key>
    <string>minus.glif</string>
    <key>mu</key>
    <string>mu.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>peso</key>
    <string>peso.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>radical</key>
    <string>radical.glif</string>
    <key>ze-cy</key>
    <string>ze-cy.glif</string>
  </dict>
</plist>
