<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>3F1659A7-5580-4DA0-812F-98B8CD0FAC4F</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.eight.osf</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eight.tosf</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
