<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0.5,1,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>774A793A-730B-4897-880E-1B9FEB8E522C</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Kaverticalstroke-cy</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
