<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>6AADA985-002E-42A0-AB8F-B1789970C019</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Chekhakassian-cy</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Dzeabkhasian-cy</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
