<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>64133064-E632-49D9-A475-F9DEB4963B98</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.four.osf</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.four.tosf</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
