<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>FA4C2FE4-7476-4A48-81D9-9AC6F17D106B</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Kahook-cy</key>
      <integer>7</integer>
    </dict>
  </dict>
</plist>
