<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>7EAADEC4-FD75-4E66-A0E9-590708D9A07F</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ustraitstroke-cy</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
