<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0.5,1,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>A7FB34CC-EE51-4238-991F-B611AE465989</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.dollar</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
