<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>0F9AD92D-E621-4EC1-BD15-CDB7D539271D</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.euro</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yen</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
