<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>Light May 2 13, 12:48</string>
      <string>glyphs.L_ight M_ay 2 13, 12_48</string>
    </array>
    <array>
      <string>Light May 2 13, 21:35</string>
      <string>glyphs.L_ight M_ay 2 13, 21_35</string>
    </array>
    <array>
      <string>Light May 2 13, 16:37</string>
      <string>glyphs.L_ight M_ay 2 13, 16_37</string>
    </array>
    <array>
      <string>Light Apr 26 13, 16:54</string>
      <string>glyphs.L_ight A_pr 26 13, 16_54</string>
    </array>
    <array>
      <string>Light Apr 26 13, 18:43</string>
      <string>glyphs.L_ight A_pr 26 13, 18_43</string>
    </array>
    <array>
      <string>Light Apr 26 13, 19:05</string>
      <string>glyphs.L_ight A_pr 26 13, 19_05</string>
    </array>
    <array>
      <string>Light Apr 26 13, 19:23</string>
      <string>glyphs.L_ight A_pr 26 13, 19_23</string>
    </array>
    <array>
      <string>Light May 27 13, 12:31</string>
      <string>glyphs.L_ight M_ay 27 13, 12_31</string>
    </array>
    <array>
      <string>Light May 29 13, 11:13</string>
      <string>glyphs.L_ight M_ay 29 13, 11_13</string>
    </array>
    <array>
      <string>Light May 20 13, 12:51</string>
      <string>glyphs.L_ight M_ay 20 13, 12_51</string>
    </array>
    <array>
      <string>Nov 15 16, 16:16</string>
      <string>glyphs.N_ov 15 16, 16_16</string>
    </array>
    <array>
      <string>Nov 15 16, 16:16.background</string>
      <string>glyphs.N_ov 15 16, 16_16.background</string>
    </array>
    <array>
      <string>Nov 15 16, 10:56</string>
      <string>glyphs.N_ov 15 16, 10_56</string>
    </array>
    <array>
      <string>Nov 15 16, 10:56.background</string>
      <string>glyphs.N_ov 15 16, 10_56.background</string>
    </array>
    <array>
      <string>Light May 20 13, 14:44</string>
      <string>glyphs.L_ight M_ay 20 13, 14_44</string>
    </array>
    <array>
      <string>Light Jun 12 13, 16:23</string>
      <string>glyphs.L_ight J_un 12 13, 16_23</string>
    </array>
    <array>
      <string>Nov 17 16, 16:25</string>
      <string>glyphs.N_ov 17 16, 16_25</string>
    </array>
    <array>
      <string>Nov 15 16, 16:05</string>
      <string>glyphs.N_ov 15 16, 16_05</string>
    </array>
    <array>
      <string>Nov 15 16, 16:09</string>
      <string>glyphs.N_ov 15 16, 16_09</string>
    </array>
    <array>
      <string>Nov 17 16, 11:45</string>
      <string>glyphs.N_ov 17 16, 11_45</string>
    </array>
    <array>
      <string>Nov 17 16, 11:45.background</string>
      <string>glyphs.N_ov 17 16, 11_45.background</string>
    </array>
    <array>
      <string>Nov 17 16, 11:46</string>
      <string>glyphs.N_ov 17 16, 11_46</string>
    </array>
    <array>
      <string>Nov 17 16, 11:46.background</string>
      <string>glyphs.N_ov 17 16, 11_46.background</string>
    </array>
    <array>
      <string>Nov 16 16, 16:36</string>
      <string>glyphs.N_ov 16 16, 16_36</string>
    </array>
    <array>
      <string>Nov 15 16, 11:23</string>
      <string>glyphs.N_ov 15 16, 11_23</string>
    </array>
    <array>
      <string>Nov 15 16, 11:23.background</string>
      <string>glyphs.N_ov 15 16, 11_23.background</string>
    </array>
    <array>
      <string>Nov 16 16, 10:43</string>
      <string>glyphs.N_ov 16 16, 10_43</string>
    </array>
    <array>
      <string>Nov 16 16, 10:43.background</string>
      <string>glyphs.N_ov 16 16, 10_43.background</string>
    </array>
    <array>
      <string>Nov 16 16, 10:44</string>
      <string>glyphs.N_ov 16 16, 10_44</string>
    </array>
    <array>
      <string>Nov 16 16, 10:44.background</string>
      <string>glyphs.N_ov 16 16, 10_44.background</string>
    </array>
    <array>
      <string>Nov 16 16, 10:45</string>
      <string>glyphs.N_ov 16 16, 10_45</string>
    </array>
    <array>
      <string>Nov 16 16, 10:45.background</string>
      <string>glyphs.N_ov 16 16, 10_45.background</string>
    </array>
    <array>
      <string>Light May 21 13, 18:00</string>
      <string>glyphs.L_ight M_ay 21 13, 18_00</string>
    </array>
  </array>
</plist>
