<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>Regular [144}</string>
      <string>glyphs.R_egular _144}</string>
    </array>
    <array>
      <string>Regular Jun 4 13, 12:00</string>
      <string>glyphs.R_egular J_un 4 13, 12_00</string>
    </array>
    <array>
      <string>Regular Jul 3 13, 15:33</string>
      <string>glyphs.R_egular J_ul 3 13, 15_33</string>
    </array>
    <array>
      <string>Regular Jul 3 13, 15:33.background</string>
      <string>glyphs.R_egular J_ul 3 13, 15_33.background</string>
    </array>
    <array>
      <string>Regular Jul 3 13, 15:34</string>
      <string>glyphs.R_egular J_ul 3 13, 15_34</string>
    </array>
    <array>
      <string>Regular Jul 3 13, 15:34.background</string>
      <string>glyphs.R_egular J_ul 3 13, 15_34.background</string>
    </array>
    <array>
      <string>Nov 17 16, 16:25</string>
      <string>glyphs.N_ov 17 16, 16_25</string>
    </array>
    <array>
      <string>Nov 17 16, 12:10</string>
      <string>glyphs.N_ov 17 16, 12_10</string>
    </array>
    <array>
      <string>Dec 6 16, 10:21</string>
      <string>glyphs.D_ec 6 16, 10_21</string>
    </array>
    <array>
      <string>Nov 16 16, 16:35</string>
      <string>glyphs.N_ov 16 16, 16_35</string>
    </array>
    <array>
      <string>corrected</string>
      <string>glyphs.corrected</string>
    </array>
    <array>
      <string>Nov 16 16, 15:43</string>
      <string>glyphs.N_ov 16 16, 15_43</string>
    </array>
    <array>
      <string>Nov 16 16, 15:43.background</string>
      <string>glyphs.N_ov 16 16, 15_43.background</string>
    </array>
    <array>
      <string>Nov 17 16, 15:22</string>
      <string>glyphs.N_ov 17 16, 15_22</string>
    </array>
    <array>
      <string>Nov 17 16, 15:22.background</string>
      <string>glyphs.N_ov 17 16, 15_22.background</string>
    </array>
    <array>
      <string>Nov 17 16, 12:21</string>
      <string>glyphs.N_ov 17 16, 12_21</string>
    </array>
    <array>
      <string>Nov 17 16, 12:32</string>
      <string>glyphs.N_ov 17 16, 12_32</string>
    </array>
    <array>
      <string>Nov 17 16, 12:32.background</string>
      <string>glyphs.N_ov 17 16, 12_32.background</string>
    </array>
    <array>
      <string>Nov 17 16, 15:27</string>
      <string>glyphs.N_ov 17 16, 15_27</string>
    </array>
    <array>
      <string>Regular Jul 3 13, 12:59</string>
      <string>glyphs.R_egular J_ul 3 13, 12_59</string>
    </array>
  </array>
</plist>
